.logo {
    width: 8.4375rem;
    height: 8.5625rem;
    flex-shrink: 0;
}

.logo img {
    object-fit: contain;
    width: 100%;
}

.name div:first-child {
    color: #C21010;
    /* font-family: Inter; */
    font-size: 2.1875rem;
    font-style: italic;
    font-weight: 800;
    line-height: normal;

}

.name div:nth-child(2) {
    color: #000;
    /* font-family: Inter; */
    font-size: 2.1875rem;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
}

.search {
    width: 40em;
    /* min-width: 332px; */
}

.searchText {
    color: #968989;
    /* font-family: Inter; */
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;

}

.searchText input {
    min-width: 267px;
    padding: 0.5rem 1rem;
    width: 100%;
    flex-shrink: 0;
    border-radius: 0.8125rem 0 0 0.8125rem;
    background: #D9D9D9;
    border: none;
}

.searchButton button {
    padding: 0.5rem 1rem;
    /* font-family: Inter; */
    background: #ff7c7c;
    color: #FEFEFE;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    border-radius: 0 0.8125rem 0.8125rem 0;
}
.searchButton button:hover {
    background: #C21010;
}

.profile {
    width: 14rem;
    justify-content: space-around;
}

.nameAccount a{
    text-decoration: none;
    color: #C21010;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
