.title {
    display: flex;
    width: 26.25rem;
    height: 4.4375rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #BB8377;
    color: #000;
    text-align: center;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.customer-info {
    width: 55rem;
    height: 47rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    border: 1px solid #000;
    background: #FFF4EE;
}

.info-items {
    display: flex;
    width: 13.75rem;
    height: 3.625rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;

    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 0.4375rem;
    border: 1px solid #000;
    background: #EDE9D0;
}

.info-value input, .info-value textarea{
    flex-shrink: 0;

    border-radius: 0.4375rem;
    border: 1px solid #000;
    background: #EDE9D0;

    display: flex;
    width: 34rem;
    height: 3.625rem;
    justify-content: start;
    flex-shrink: 0;

    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 2rem;
}
.table-header{
    background: #56423D;
    color: white;
}
.table-body{
    background: #EDE9D0;
}
.btnBack{
    width: 20rem;

}
.btnBack button{
    width: 15.875rem;
    height: 3.3125rem;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border-radius: 1.4375rem;
    background: #62c75d;
    border: none;
}
.btnBack button:hover{
    background: #057200;
}
.btnBack a{
    width: 15.875rem;
    height: 3.3125rem;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border-radius: 1.4375rem;
    background: #f95d5d;
    border: none;
    text-decoration: none;
}
.btnBack a:hover{
    background: #C21010;
    color: #FFF;
}
input{
    background-color:#EDE9D0;
    border: none;
    border-radius: 1.25rem;
}
.result{
    border-radius: 1rem;
    width: 33rem;
    color: white;
    background: burlywood;
    font-family: sans-serif;
}