<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GuestHome</servlet-name>
        <servlet-class>controller.guest.GuestHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeLogin</servlet-name>
        <servlet-class>controller.employee.EmployeeLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestLogin</servlet-name>
        <servlet-class>controller.guest.GuestLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerHome</servlet-name>
        <servlet-class>controller.customer.CustomerHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuestHome</servlet-name>
        <url-pattern>/guest/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeLogin</servlet-name>
        <url-pattern>/employee/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestLogin</servlet-name>
        <url-pattern>/guest/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerHome</servlet-name>
        <url-pattern>/customer/home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            /CampusMunchies/guest/home
        </welcome-file>
    </welcome-file-list>
</web-app>
